
<div class="angry-grid">

  <div id="item-0">
     <div class="service-show__img">
     <% if ourservice.images.attached? %>
       <%= image_tag rails_blob_path(ourservice.images[0]), class: "slder__img" %>
     <% end %>
     </div>
  </div>

  <div id="item-1">
    <h1><%= ourservice.Title %></h1>
    <p><%= ourservice.description %></p>
    <h2>PDF Files</h2>
<% @ourservice.pdf_files.each do |pdf| %>
  <%= link_to pdf.filename, rails_blob_path(pdf, disposition: 'inline'), target: '_blank' %><br>
<% end %>
  </div>

  <div id="item-2">
  <% if ourservice.images.attached? %>
  <%= image_tag rails_blob_path(ourservice.images[1]), class: "slder__img" %>
<% end %>
  </div>

  <div id="item-3">
  <% if ourservice.images.attached? %>
  <%= image_tag rails_blob_path(ourservice.images[2]), class: "slder__img" %>
<% end %>
  </div>

</div>
<div class="pdf">
<% @ourservice.pdf_files.each do |pdf| %>
  <iframe src="<%= rails_blob_path(pdf, disposition: 'inline') %>" width="100%" height="600px" frameborder="0"></iframe>
<% end %>
</div>
