
<div class="grid-container" data-controller="readmore">
  <div class="angry-grid">
  
    <div id="item-0">
       <div class="service-show__img">
       <% if ourservice.images.attached? %>
         <%= image_tag rails_blob_path(ourservice.images[0]), class: "slder__img" %>
       <% end %>
       </div>
    </div>
  
    <div id="item-1">
      <h1><%= ourservice.Title %></h1>
      <p><%= ourservice.description %></p>
    </div>
  
    <div id="item-2">
      <% if ourservice.images.attached? %>
      # <%= image_tag rails_blob_path(ourservice.images[1]), class: "slder__img" %>
      <% end %>
    </div>
  
    <div id="item-3">
      <% if ourservice.images.attached? %>
      <%= image_tag rails_blob_path(ourservice.images[2]), class: "slder__img" %>
      <% end %>
    </div>
  </div>
  <div class="pdf" >
    <% @ourservice.pdf_files.each do |pdf| %>
      <iframe src="<%= rails_blob_path(pdf, disposition: 'inline') %>#toolbar=0"  width="100%" height="600px" frameborder="1"></iframe>
    <% end %>
  </div>
</div>
